<div class="page">
  <div class="header-row">
    <span class="title-bg" i18n="@@OrderSettlement">Order Settlement</span>
  </div>
  <div class="content">
    <mat-tab-group mat-align-tabs="center" *ngIf="restaurant">
      <mat-tab i18n-label label="DailySettlement">
        <app-settlement [restaurant]="restaurant" [type]="'day'"></app-settlement>
      </mat-tab>
      <mat-tab i18n-label label="WeeklySettlement">
        <app-settlement [restaurant]="restaurant" [type]="'week'"></app-settlement>
      </mat-tab>
      <mat-tab i18n-label label="MonthlySettlement">
        <app-settlement [restaurant]="restaurant" [type]="'month'"></app-settlement>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
  