<div class="payment-table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef i18n="@@Date">Date</th>
      <td mat-cell *matCellDef="let row"> {{row.created | date: 'MMMd E'}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef i18n="@@Description"> Description </th>
      <td mat-cell *matCellDef="let row">
        <div>
          <div [ngClass]="row.items ? 'red':''">{{row.description}}</div>
          <div *ngFor="let it of row.items">
            <span *ngIf="lang==='zh'">{{it.product.name.length > 9 ? ((it.product.name | slice:0:7) + '..') : it.product.name}} x {{it.quantity}}</span>
            <span *ngIf="lang==='en'">{{it.product.nameEN.length > 9 ? ((it.product.nameEN | slice:0:7) + '..') : it.product.nameEN}} x {{it.quantity}}</span>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="receivable">
      <th mat-header-cell *matHeaderCellDef i18n="@@ReceivableIncrease"> Receivable + </th>
      <td mat-cell *matCellDef="let row"> {{row.receivable | number : '1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="received">
      <th mat-header-cell *matHeaderCellDef i18n="@@ReceivableDecrease"> Receivable - </th>
      <td mat-cell *matCellDef="let row"> {{row.received | number : '1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef i18n="@@Receivables"> Receivables </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.balance"> {{row.balance | number : '1.2-2'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[8]"></mat-paginator>
</div>