<mat-tab-group mat-align-tabs="center" *ngIf="merchant">
  <mat-tab label="{{phase.pickup}}" *ngFor="let phase of merchant.phases">

  <div *ngIf="phase.ordersWithNote && phase.ordersWithNote.length>0">
    <div class="row label-sm">
      <span i18n="@@Note">Note</span>:
    </div>
    <div *ngFor="let order of phase.ordersWithNote">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{order.note}}</span>
          </mat-panel-title>
          <!-- <mat-panel-description>
            Type your name and age
          </mat-panel-description> -->
        </mat-expansion-panel-header>
    
        <div *ngFor="let item of order.items" class="text-sm row">
          <div class="col-9 product-col">{{item.product.name}} ({{getCategoryName(item)}})</div>
          <div class="col-3 quantity-col" [ngClass]="item.quantity > 1 ? 'warning' : 'normal'">x{{item.quantity}}</div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>

  <div class="row label-sm" *ngIf="phase.items && phase.items.length > 0">
    <span i18n="@@Products">Products</span>:
  </div>
  <div *ngFor="let item of phase.items" class="row item-row">
    <div class="col-10 product-col">{{item.product.name}} ({{getCategoryName(item)}})</div>
    <div class="col-2 quantity-col" [ngClass]="item.quantity > 1 ? 'warning' : 'normal'">x{{item.quantity}}</div>
  </div>

  </mat-tab>
</mat-tab-group>
