.label-sm{
  margin-top: 15px;
}

.warning{
  color: red;
  font-size: 20px;
}
.normal{
  color: #333333;
}

.item-row{
  margin-bottom: 5px;
  .product-col{
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }
}