
<div class="row date-input-block">
  <form [formGroup]="dateForm">
    <input class="date-input" matInput [matDatepicker]="picker" i18n-placeholder placeholder="Choose a date"
      [formControl]="date"
      (click)="picker.open()"
      (dateChange)="onDateChange('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </form>
</div>
<div class="row date-text-block" *ngIf="type!=='day' && dateRange">
  <div class="col-6">
      <span i18n="@@From">From</span>:<span>{{dateRange.$gt | date: 'MMMd E' }}</span>
  </div>
  <div class="col-6">
      <span i18n="@@To">To</span>:<span>{{dateRange.$lt | date: 'MMMd E' }}</span>
  </div>
</div>
<div class="order-list" *ngIf="list && list.length>0">
  <div class="product-list">
    <div class="order" *ngFor="let item of list">
      <div class="row product-block">
          <div class="col-5 product-col">{{item.product.name}}</div>
          <div class="col-2 cost-col">${{item.product.cost | number : '1.2-2'}}</div>
          <div class="col-2 quantity-col">x{{item.quantity}}</div>
          <div class="col-3 cost-col">${{item.total | number : '1.2-2'}}</div>
      </div>
    </div>
  </div>
  <div class="row total-block">
    <div class="col-9" i18n="@@Total">Total</div>
    <div class="col-3">${{total | number : '1.2-2'}}</div>
  </div>
</div>
<!-- <form [formGroup]="paymentForm" class="received-form">
  <div class="row received-block">
    <div class="label"><span i18n="@@Received">Received</span>:&nbsp;</div>
    <div class="dollar-sign">$&nbsp;</div>
    <input class="received-input" name="received" formControlName="received"/>
  </div>
</form>
<div class="row paid-toggle" >
  <mat-slide-toggle i18n="@@Paid" [checked]="paid"
  (change)="togglePaid($event)">Paid</mat-slide-toggle>
</div> -->
